@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');
:root{
    --font-family-1: "Style Script", cursive;
    --font-family-2: "IBM Plex Serif", serif;
    --font-family-3: "Kanit", sans-serif;;
    --font-family-4: "Bona Nova SC", serif;

    --clr-family-1: #ffe4c4; 
    --clr-family-2: #ffaa00;
    --clr-family-3: #000000;
    --clr-family-4: #eb8f2e;
    --clr-family-5: #eb8f2e;
    --clr-family-6: #000000;
    --clr-family-7: #eb8f2e;
    --clr-family-8: #fcbb3a;
    --clr-family-9: #fcbb3a96;
    --clr-family-10: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        #ffaa0049,
        #ffaa0093,
        #ffaa0093,
        #ffaa00
    );
    --clr-family-11: #eb902e74;
}

.dark_theme{
    --clr-family-1: #302f2f; 
    --clr-family-2: #000000;
    --clr-family-3: #ffffff;
    --clr-family-4: #ffffff;
    --clr-family-5: #000000;
    --clr-family-6: #000000;
    --clr-family-7: #302f2f;
    --clr-family-8: #2d2929;
    --clr-family-9: #302f2fa0;
    --clr-family-10: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        #0000003b,
        #00000097,
        #00000097,
        #000000
    );
    --clr-family-11: #302f2f79;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a,
button,
input{
    -webkit-tap-highlight-color: rgba(0,0,0,0)E;
}

body{
    background-color: var(--clr-family-1);
    transition: 1s ease;
}

nav{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--clr-family-2);
    padding: 0px 20px;
}

.links-holder{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.links{
    height: 50px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--clr-family-3);
    font-family: var(--font-family-3);
    font-weight: bold;
    font-size: larger;
    color: var(--clr-family-3);
    transition: .3s ease;
    cursor: pointer;
}

.links:hover{
    background-color: var(--clr-family-7);
    border-radius: 10px;
    border: 2px solid var(--clr-family-3);
}

.header{
    margin-right: auto;
    font-size: 2.5rem;
    font-family: var(--font-family-3);
    letter-spacing: 4px;
    background: linear-gradient(
        to right,
        white,
        black,
        white
    );
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-header 3s linear infinite;
    -webkit-text-stroke: 2px var(--clr-family-3);
}

@keyframes animate-header {
    to{
        background-position: 200%;
    }
}

#menu-slider,
#open-slidebar,
#close-slidebar{
    display: none;
}

.tax-slab{
    width: 100%;
    min-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 50px;
    background-color: transparent;
}

.one{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
    font-size: large;
    font-weight: bold;
    gap: 20px;
    font-family: var(--font-family-3);
    color: var(--clr-family-3);
}

#year{
    height: 30px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: var(--font-family-3);
    border: 2px solid var(--clr-family-5);
    border-radius: 5px;
    outline: none;
}

option{
    background-color: var(--clr-family-4);
    font-size: medium;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: var(--font-family-3);
}

#mode{
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3px;
    background-color: #ffffff;
    border: 2px solid var(--clr-family-5);
    border-radius: 50px;
}

#theme_mode{
    display: none;
}

#mode_btn{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-family-5);
    border-radius: 50%;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#theme_mode:checked + #mode_btn{
    margin-left: 33px;
    transform: rotate(220deg);
}

.input-container{
    width: 45%;
    height: 10vh;
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 40px;
}

#user-input{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: large;
    border: 2px solid var(--clr-family-5);
    outline: none;
    font-weight: 600;
}

.shake{
    animation: shake .3s;
}

@keyframes shake {
    25%{transform: translateX(4px);}
    50%{transform: translateY(-4px);}
    75%{transform: translateX(4px);}
}

#find, #reset{
    width: 20%;
    height: 50px;
    border-radius: 10px;
    background-color: var(--clr-family-2);
    border: 2px solid var(--clr-family-4);
    font-size: large;
    font-weight: bold;
    font-family: var(--font-family-3);
    letter-spacing: 2px;
    transition: .2s ease-in-out;
    color: var(--clr-family-3);
    cursor: pointer;
}

#find:hover, #reset:hover{
    background-color: var(--clr-family-8);
}

#find:active, #reset:active{
    transform: scale(.94);
    box-shadow: 3px 3px 5px var(--clr-family-3);
}

#input-label{
    position: absolute;
    top: 50%;
    left: 75px;
    padding: 0px 5px;
    border-radius: 50px;
    transform: translate(-50%, -55%);
    font-weight: bold;
    transition: .3s ease-in-out;
    font-family: var(--font-family-3);
    color: var(--clr-family-6);
}

#user-input:focus + #input-label,
#user-input:valid + #input-label{
    top: 0;
    font-size: small;
    color: var(--clr-family-3);
    border: 2px solid var(--clr-family-4);
    background-color: var(--clr-family-2);
    box-shadow: 3px 3px 5px var(--clr-family-3);
}

.table_container{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family-3);
    font-weight: bold;
    font-size: larger;
    margin-top: 40px;
    gap: 5px;
}

.container{
    width: 70%;
    height: 90%;
    justify-content: center;
    align-items: center;
    color: var(--clr-family-3);
}

.container tr{
    width: 100%;
}

.tdone, .tdtwo{
    height: 15vh;
    width: 50%;
    text-align: start;
    padding-left: 10%;
}

span{
    color: red;
}

input{
    width: 80%;
    height: 50%;
    font-family: var(--font-family-3);
    font-weight: 700;
    padding-left: 5px;
    font-size: large;
    border: 2px solid var(--clr-family-5);
    border-radius: 10px;
}

#htu,
#aboutDetails{
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(80px);
    z-index: 5;
    transition: .3s ease-in-out;
}

#history{
    width: 100%;
    min-height: 150vh;
    top: 0;
    left: 0;
    gap: 40px;
    position: absolute;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: start;
    background-color: transparent;
    backdrop-filter: blur(80px);
    z-index: 10;
    transition: .5s ease-in-out;
    padding-bottom: 40px;
}

#help_space{
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, .2);
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 15px;
    padding: 10px;
    animation: animate2 3s linear;
}

@keyframes animate2 {
    0%, 10%{
        opacity: 0;
    }
    20%, 30%{
        opacity: .4;
    }
    40%, 60%{
        opacity: .8;
    }
    70%, 90%{
        opacity: .6;
    }
    100%{
        opacity: 1;
    }
}

highlight{
    text-transform: uppercase;
    color: var(--clr-family-4);
    -webkit-text-stroke: 1.5px var(--clr-family-6);
    letter-spacing: 2px;
}

red{
    color: red;
    font-size: large;
}

#help_space > p{
    font-family: var(--font-family-3);
    font-size: medium;
    font-weight: bold;
    letter-spacing: 1px;
}

#aboutTax{
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, .2);
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 15px;
    padding: 10px;
    animation: tax_move 1.5s linear;
}

#developer, 
#approver{
    width: 40%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, .2);
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 15px;
    padding: 10px;
}

#developer{
    animation: dev_move 1.5s linear;
}

#approver{
    animation: app_move 1.5s linear;
}

@keyframes tax_move {
    from{
        transform: translateY(-115%);
    }
    to{
        transform: translateY(0);
    }
}

@keyframes dev_move {
    from{
        transform: translateX(-115%);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes app_move {
    from{
        transform: translateX(115%);
    }
    to{
        transform: translateX(0);
    }
}

#history > #historyNav{
    width: 100%;
    height: 15vh;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 20px;
    background-color: var(--clr-family-9);
    backdrop-filter: blur(10px);
}

#htu > .back-holder,
#aboutDetails > .back-holder{
    width: 90%;
}

#historyNav > .back-holder{
    width: 30%;
    margin-left: auto;
}

#htu > .back-holder,
#aboutDetails > .back-holder{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#historyNav > .back-holder{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#htu > .back-holder > .backControl,
#aboutDetails > .back-holder > .backControl,
#historyNav > .back-holder > .backControl,
#historyNav > .back-holder > #clearAll{
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    color: var(--clr-family-3);
    font-family: var(--font-family-3);
    font-weight: bolder;
    font-size: large;
    background-color: var(--clr-family-2);
    border: 2px solid var(--clr-family-3);
    border-radius: 10px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

#htu > .back-holder > .backControl:hover,
#aboutDetails > .back-holder > .backControl:hover,
#historyNav > .back-holder > .backControl:hover,
#historyNav > .back-holder > #clearAll:hover{
    background-color: var(--clr-family-8);
}

#htu > .back-holder > .backControl:active,
#aboutDetails > .back-holder > .backControl:active,
#historyNav > .back-holder > .backControl:active,
#historyNav > .back-holder > #clearAll:active{
    transform: scale(.94);
    box-shadow: 3px 3px 5px var(--clr-family-3);
}

#htu > .back-holder > .backControl,
#aboutDetails > .back-holder > .backControl{
    margin-left: auto;
}

#aboutTax > h3{
    width: 205px;
}
#developer > h3{
    width: 260px;
}
#approver > h3{
    width: 245px;
}
#historyNav > h3{
    width: 160px;
}

#aboutTax > h3,
#developer > h3, 
#approver > h3,
#historyNav > h3{
    position: relative;
    font-family: var(--font-family-3);
    font-weight: bolder;
    font-size: 30px;
    color: transparent;
    -webkit-text-stroke: 2px var(--clr-family-3);
    letter-spacing: 5px;
}

#aboutTax > h3::before,
#developer > h3::before,
#approver > h3::before,
#historyNav > h3::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: var(--clr-family-5);
    -webkit-text-stroke: 2px var(--clr-family-3);
    border-right: 2px solid var(--clr-family-4);
    overflow: hidden;
    animation: animate 3s infinite linear;
}

@keyframes animate {
    0%, 10%, 100%{
        width: 0;
    }
    70%, 90%{
        width: 100%;
    }
}

#aboutTax > p,
#developer > p, 
#approver > p,
.blocks > p{
    font-size: medium;
    font-weight: bold;
    font-family: var(--font-family-3);
}

.blocks{
    width: 30%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, .2);
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
}

.del{
    width: 35%;
    height: 35px;
    font-size: medium;
    font-weight: bold;
    color: var(--clr-family-3);
    font-family: var(--font-family-3);
    background-color: var(--clr-family-2);
    border: 2px solid var(--clr-family-3);
    border-radius: 10px;
    cursor: pointer;
}

.del:hover{
    background-color: red;
}

#deleteMsgBox{
    width: 96%;
    height: 10%;
    display: flex;
    justify-content: start;
    align-items: center;
    position: fixed;
    background-color: #ffffff;
    top: 102%;
    z-index: 10;
    margin: 0% 2%;
    padding-left: 70px;
    border-radius: 10px;
    border: 2px solid red;
    font-family: var(--font-family-3);
    font-weight: bolder;
    font-size: large;
    color: red;
    letter-spacing: 3px;
}

.pop-up{
    animation: pop-up 3s ease-in-out;
}

@keyframes pop-up {
    25%, 75%{
        top: 88%;
    }
}

.delShake{
    border-color: #ff0000;
    background-color: rgba(255, 0, 0, 0.2);
    animation: del-shake 4s ease-out;
}

@keyframes del-shake {
    100%{
        transform: matrix3d(0.5, 0, 10, 0, 
        0, 1, 0, 0, 
        10, 0, 0, 0,
        10, 0, 0, 10);
        border-radius: 50%;
    }
}

#mobile__menu{
    display: none;
}

@media (max-width:600px) {

    nav{
        height: 10vh;
        padding-right: 10px;
        padding-left: 20px;        
    }

    .links-holder{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -5%;
        z-index: -1;

        width: 0px;
        height: 0%;
        padding: 5px 5px 10px 5px;
        gap: 25px;

        background-color: var(--clr-family-2);
        border-radius: 10px;
        box-shadow: -5px 5px 10px var(--clr-family-3);
        transition: ease-in-out .4s;
    }

    .links-holder > a{
        font-size: 0px;
        transition: .3s ease-in-out;
    }

    #open-slidebar,
    #close-slidebar{
        display: flex;
        padding: 25px 20px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #open-slidebar > i,
    #close-slidebar > i{
        font-size: larger;
        color: var(--clr-family-3);
    }

    #open-slidebar:hover, 
    #close-slidebar:hover{
        background-color: var(--clr-family-7);
        border-radius: 50%;
    }

    #menu-slider:checked ~ .links-holder{
        width: 200px;
        height: 50%;
        z-index: 2;
        right: 0;
    }

    #menu-slider:checked ~ .links-holder > #close-slidebar{
        font-size: large;
    }
    #menu-slider:checked ~ .links-holder > a{
        font-size: large;
    }

    #menu-slider:checked ~ #overlay{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }

    .header{
        font-size: 1.8rem;
    }

    .links{
        height: 50px;
        width: 100%;
    }

    .tax-slab{
        width: 100%;
        height: fit-content;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
        column-gap: 0;
    }
    
    .one{
        height: 10vh;
        padding: 0px 20px;
        gap: 10px;
        align-items: center;
        margin-top: 0;
    }

    .one > h3{
        font-size: large;
    }

    #mode{
        width: 40px;
        height: 25px;
    }

    #mode_btn{
        width: 15px;
        height: 15px;
        font-size: medium;
        color: var(--clr-family-5);
    }

    #theme_mode:checked + #mode_btn{
        margin-left: 15px;
    }
    

    .input-container{
        width: 80%;
        height:50px;
        margin: 20px 0px;
    }

    #year{
        height: 30px;
        width: 165px;
        align-items: start;
        option{
            font-size: large;
            letter-spacing: 0;
        }
    }

    #user-input{
        font-size: medium;
    }

    #find, #reset{
        width: 80%;
        height: 40px;
        margin-bottom: 10px;
    }

    #find:hover, #reset:hover{
        background-color: var(--clr-family-2);
    }

    #find:active, #reset:active{
        background-color: var(--clr-family-8);
        box-shadow: 2px 2px 5px var(--clr-family-3);
    }

    #input-label{
        left: 65px;
        font-size: medium;
    }

    #user-input:focus + #input-label,
    #user-input:valid + #input-label{
        box-shadow: 2px 2px 5px black;
    }

    .table_container{
        width: 100%;
        height: fit-content;
        font-size: medium;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 5vh;
    }

    .container{
        width: 95%;
    }

    .tdone{
        width: 60%;
        height: 10vh;
        padding: 0% 2%;
    }

    .tdtwo{
        width: 40%;
        height: 10vh;
        padding-left: 0;
        padding-right: 2%;
    }

    input{
        width: 95%;
        height: 60%;
        font-size: medium;
    }

    #htu,
    #aboutDetails{
        padding-top: 10px;
    }

    #history{
        min-height: 128vh;
        justify-content: space-around;
        gap: 30px;
        padding-bottom: 30px;
    }

    #history > #historyNav{
        height: 15vh;
        gap: 10px;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }

    #historyNav > h3{
        font-size: 20px;
        width: 115px;
    }

    #historyNav > .back-holder{
        width: 100%;
        height: 50%;
        justify-content: space-around;
        margin-left: 0;
        padding: 0;
    }

    #developer{
        width: 90%;
        height: 30%;
    }
    #approver{
        width: 90%;
        height: 25%;
    }

    #help_space{
        height: 85%;
    }

    .back-holder{
        height: 10%;
    }

    #htu > .back-holder > .backControl,
    #aboutDetails > .back-holder > .backControl{
        width: 120px;
        height: 40px;
        font-size: small;
        margin-left: auto;
    }

    #historyNav > .back-holder > .backControl,
    #historyNav > .back-holder > #clearAll{
        width: 120px;
        height: 40px;
        font-size: small;
        margin-left: 0;
    }

    #htu > .back-holder > .backControl:active,
    #aboutDetails > .back-holder > .backControl:active,
    #historyNav > .back-holder > .backControl:active,
    #historyNav > .back-holder > #clearAll:active{
        transform: scale(.94);
        box-shadow: 3px 3px 5px var(--clr-family-3);
        background-color: var(--clr-family-8);
    }

    #aboutTax > h3{
        width: 145px;
    }
    #developer > h3{
        width: 185px;
    }
    #approver > h3{
        width: 175px;
    }

    #aboutTax > h3,
    #developer > h3, 
    #approver > h3{
        font-size: larger;
    }

    #nospan{
        display: none;
    }

    .blocks{
        width: 80%;
        height: 45vh;
    }

    #deleteMsgBox{
        width: 90%;
        height: 10%;
        padding-left: 0px;
        padding: 0px 20px;
        font-size: small;
        letter-spacing: 1px;
        margin: 0% 5%;
    }

    #mobile__menu{
        width: 100%;
        height: 10vh;
        display: flex;
        position: fixed;
        top: 93%;
        background: var(--clr-family-10);
    }

    #menu__btn__container{
        width: 100%;
        font-size: large;
        position: absolute;
        bottom: 30%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 15px;
    }

    #menu__btn__container > a, 
    #menu__btn__container > h3{
        width: 50px;
        height: 50px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: var(--clr-family-11);
        border-radius: 10px;
        text-decoration: none;
        color: var(--clr-family-3);
        box-shadow: 3px 3px 5px var(--clr-family-3);
        transition: .3s ease;
        cursor: pointer;
        backdrop-filter: blur(5px);
    }

    #menu__btn__container > a:active, 
    #menu__btn__container > h3:active{
        background-color: var(--clr-family-8);
    }
}

/* @media (max-width: 700px) and (orientation : landscape){

    nav{
        height: 15vh;
        width: 100%;
    }

    .links-holder{
        width: 50%;
        justify-content: flex-end;
    }

    .links-holder > .links{
        font-size: medium;
        padding: 0px 15px;
    }

    .input-container{
        width: 40%;
        height: 40px;
    }

    .user-input{
        margin-left: 0;
    }

    .tax-slab{
        min-height: fit-content;
        background-color: bisque;
    }

    .table_container{
        width: 100%;
        height: 130vh;
    }

    .tdone{
        width: 65%;
    }
} */
